body {
    background-color: #49544A;
    color: #39CC40;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-top: 2px solid #39CC40;
}

.model-size-select {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.model-size-select select {
    color: #39CC40;
    border: 4px solid #39CC40;
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
}

.advanced-settings-toggle {
    background-color: transparent;
    color: #39CC40;
    cursor: pointer;
    padding: .4em 1.2em;
    width: 100%;
    border: 4px solid #39CC40;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.advanced-settings-toggle:hover {
    border-color: #154D18;
}

.advanced-settings-content {
    padding: .4em 1.2em;
    display: none;
    overflow: hidden;
}

.inline-input {
    padding: .4em 1.2em;
    color: #39CC40;
    background-color: transparent;
    border: 4px solid #39CC40;
    border-radius: 8px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.inline-div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.simple-input {
    display: inline-block;
    width: 100%;
    padding: .4em 1.2em;
    color: #39CC40;
    background-color: transparent;
    border: 4px solid #39CC40;
    border-radius: 8px;
}

.model-size-radio input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.model-size-radio label {
    display: inline-block;
    background-color: transparent;
    padding: .4em 1.2em;
    border: 4px solid #154D18;
    border-radius: 8px;
    color: #154D18;
}

.model-size-radio input[type="radio"]:checked + label {
    color: #39cc40;
    border-color: #39cc40;
}

.preloader {
    border: 16px solid #154D18;
    border-top: 16px solid #39CC40;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.next-button {
    align-self: flex-start;
    border: 4px solid #39CC40;
    border-color: #39CC40;
    border-radius: 8px;
    padding: .4em 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    color: #39CC40;
    background-color: transparent;
    width: 100%;
}

.next-button:active {
    border-color: #154D18;
}

.next-button:disabled {
    border-color: #154D18;
    color: #154D18;
    pointer-events: none;
}

.model-create-button {
    align-self: flex-start;
    border: 4px solid #39CC40;
    border-color: #39CC40;
    border-radius: 8px;
    padding: .4em 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #39CC40;
    background-color: transparent;
    width: 100%;
}

.model-create-button:active {
    border-color: #154D18;
}

.model-create-button:disabled {
    border-color: #154D18;
    color: #154D18;
    pointer-events: none;
}

.simple-button {
    align-self: flex-start;
    margin-right: 1em;
    border: 4px solid;
    border-color: #39CC40;
    border-radius: 8px;
    font-family: Arial;
    font-size: 1.2em;
    padding: .4em 1.2em;
    color: #39CC40;
    background-color: transparent;
    transition: border-color 0.2s;
    text-align: right;
  }
  
  .simple-button:active {
    border-color: #154D18;
  }
  
  .simple-button:disabled {
    border-color: #154D18;
    color: #154D18;
    pointer-events: none;
  }